
  ::-moz-selection {
    color: var(--_colors---other--bg);
    background: var(--_colors---base-1000--primary);
  }

  ::selection {
    color: var(--_colors---other--bg);
    background: var(--_colors---base-1000--primary);
  }
