
  [data-pin='crafted-to-endure'] {
    top: 62.5%;
    left: 57.5%;
  }

  [data-pin='light-flow'] {
    top: 58.3%;
    left: 26.9%;
  }

  [data-pin='your-private-sanctuary'] {
    top: 73.2%;
    left: 76.6%;
  }
