.section.arch {
  z-index:1;
  border-top-left-radius:50rem;
  border-top-right-radius:50rem;
  position:relative
}

.section.arch.clip.theme_on-brand.test {
  z-index:2
}

.benefits-intro-w {
  margin-top:calc((50rem + var(--_special-units---100vh))*-1)
}

.benefits-intro-w.test {
  margin-top:-50rem
}

.benefits-intro-s {
  z-index:0;
  flex-flow:column;
  justify-content:flex-end;
  height:50rem;
  display:flex;
  position:relative
}

.benefits-intro-s_title_svg {
  z-index:0;
  position:relative
}

.arch-w {
  top:var(--_units---u-0);
  position:sticky
}

.arch-s {
  z-index:1;
  aspect-ratio:144/168;
  pointer-events:none;
  flex-flow:column;
  justify-content:space-between;
  display:flex;
  position:relative
}

.arch-intro-s {
  top:var(--_units---u-0);
  z-index:1;
  height:var(--_special-units---100vh);
  pointer-events:none;
  margin-bottom:calc(var(--_special-units---100vh)*-1);
  position:sticky
}

.arch-intro-s_bg_l {
  background-color:var(--_colors---base-0--primary);
  position:absolute;
  inset:-1% calc(50% - 1px) 0% 0%
}

.arch-scroll-area {
  position:relative
}

.arch-intro-s_bg_r {
  background-color:var(--_colors---base-0--primary);
  position:absolute;
  inset:-1% 0% 0% 50%
}

.arch-s_t {
  pointer-events:auto
}

.arch-s_desc {
  grid-area:1/4/2/8
}

.arch-s_b {
  pointer-events:auto
}

.arch-s_quote {
  grid-area:1/2/2/6
}

.arch-s_author,.quote-s_ico {
  grid-area:1/2/2/5
}

.arch-s_btn {
  flex-flow:column;
  grid-area:1/7/2/9;
  justify-content:center;
  align-self:end;
  align-items:center;
  display:flex
}

.benefits-intro-s_title {
  top:0%;
  bottom:auto;
  left:calc(var(--_special-units---offset-l)*-1);
  right:calc(var(--_special-units---offset-r)*-1);
  position:absolute
}

.flower.arch-intro-l {
  top:auto;
  right:auto;
  left:calc(((96rem/var(--_special-units---scale-ratio))*-1) - var(--_special-units---offset-r));
  bottom:calc((96rem/var(--_special-units---scale-ratio))*-1);
  transform:rotate(-150deg)
}

.flower.arch-intro-r {
  top:auto;
  right:calc(((48rem/var(--_special-units---scale-ratio))*-1) - var(--_special-units---offset-r));
  bottom:calc((96rem/var(--_special-units---scale-ratio))*-1);
  transform:rotate(65deg)
}

@media screen and (max-width:991px) .benefits-intro-w {
  margin-bottom:-1px
}

@media screen and (max-width:991px) .benefits-intro-s {
  height:auto
}

@media screen and (max-width:991px) .benefits-intro-s_title_svg {
  aspect-ratio:1
}

@media screen and (max-width:991px) .arch-w {
  position:relative
}

@media screen and (max-width:991px) .arch-s {
  aspect-ratio:2/6
}

@media screen and (max-width:991px) .arch-s_desc,.arch-s_quote {
  grid-area:1/1/2/5
}

@media screen and (max-width:991px) .arch-s_btn {
  grid-area:2/1/3/5
}
